.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-image: linear-gradient(#2b2c49, #b5b9ff);
}
